.container{
    display: flex;
    height : 200px;
    width : 300px;
    background-color: aqua;
    border: 1px solid black;
    flex-direction: row;

}
.item{
    height: 100px;
    width: 50px;
    border: 1px solid black;
    background-color: purple;


}