.box{
    height: 300px;
    width: 100%;
    background-color: green;

}
@media(min-width:768px){
    .box{
        background-color: aqua;

    }
}
@media(min-width:1024px){
    .box{
        background-color: rgb(183, 255, 0);
    }

}